@{
    ViewData["Title"] = "Home Page";
}

@model Network

<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<head class="main">
    <style>
        body {
            background-image: url(https://grist.org/wp-content/uploads/2020/03/gettyimages-1179212574-e1584114897219.jpg);
            background-size: cover; 
            background-position: center; 
            background-repeat: no-repeat;
            background-attachment: fixed;
            height: 100vh;
            display: flex;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        #button, #country {
            color: white;
            background-color: black;
        }

    </style>
</head>
<body>
<div class="text-center">
    <h1 class="display-4" style="color: darkred">Welcome to CityBikes Finder</h1>
    <h3 class="display-4" style="font-size: x-large">Here you can find any CityBikes provider in the world!</h3>
    <p style="color: green">Please select a country from the list to find a CityBikes location near you</p>
</div>

@using (Html.BeginForm("Index", "Network", "Post"))
    {
        <div style="text-align-last: center">
            <label for="country">Choose a Country:</label>
            <br />
            <select id="country" name="country" value="">
                <option value="United States">United States</option>
                <option value="Italy">Italy</option>
            </select>
            <button type="submit" style="margin-left: 20px" id="button">Submit</button>
        </div>
    }
</body>


