@{
    ViewData["Title"] = "Home Page";
}

@model Network

<link rel="stylesheet" type="text/css" href="~/css/site.css" />
<head class="main">
    <style>
        body {
            background-image: url(https://grist.org/wp-content/uploads/2020/03/gettyimages-1179212574-e1584114897219.jpg);
            background-size: cover; /* This scales the image to cover the entire element */
            background-position: center; /* This positions the image in the center */
            background-repeat: no-repeat; /* Prevents the image from repeating */
        }
    </style>
</head>

<div class="text-center">
    <h1 class="display-4" style="color: red">Welcome to CityBikes Finder</h1>
    <h3 class="display-4" style="color: grey">Here you can find any CityBikes provider in the world!</h3>
    <p style="color: white">Please select a country from the list to find a CityBikes location near you</p>
</div>

@using (Html.BeginForm("Index", "Network", "Post"))
    {
        <div>
            <label for="country">Choose a Country:</label>
            <select id="country" name="country">
                <option value="United States">United States</option>
                <option value="Italy">Italy</option>
            </select>
        </div>
    <button type="submit">Submit</button>
    }


