@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<Network>

<body>
    <div class="grid-container">
        @foreach (var item in Model)
            {
                if (item == "US")
                {
                <div class="flex-box">
                    <h1 class="text">@item.Name</h1>
                    <h2 class="text">@item.Location</h2>
                    <h2 class="text">@item.Ebikes</h2>
                </div>
                }
            }
    </div>
</body>
